summary 
	{
	  cursor: pointer; /* курсор на метке имеет вид руки */
	}
summary:hover 
	{
	  color:#ff3200; /* изменение цвета метки при наведении */
	}
pre.code
	{
	background-color: #eeeeee; /* фон для текста примера */
	padding: 4px 6px 4px 6px;
	}
	
